.lampContainer {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

#body1{
    fill: gray;
}
#body2{
    fill: rgba(186, 195, 195, 0.812);
}
#body3{
    fill: rgba(186, 195, 195, 0.812);
}
#body4{
    fill: gray;
}

#littleLight{
    fill: #ffe76d00;
    transition: fill 0.3s ease-in-out;
}

#bodyLight {
    fill: rgba(128, 128, 128, 0.417);
    transition: fill 0.3s ease-in-out;
}

.on #bodyLight {
    fill: #FFE76D;
}


.on #littleLight{
    fill: #FFE76D;
}
